
#headerRow{
    background-color: darkgray;
    text-align: center;
}
#om-oss, #mainpage, #tilbakemelding, #min-side, #timebestilling{
    padding: 0.3em 0.3em 0.3em 0.3em;
    border: solid;
    border-width: .1em;
    border-color: black;
}
h1 {
    font-size: 1em;
    margin: auto;
    top: 12px;
    left: 0;
    bottom: 0;
    right: 0;
}



