

body{
    margin: 0;
    padding: 0;
    background-color: #dedede;
}

#headerRow {
    padding: 0;
    background-color: #4880b8;
    text-align: center;
    position: sticky;
}
#headerRow * {
    align-content: center;
}

#om-oss, #mainpage, #tilbakemelding, #min-side, #timebestilling {
    height: 4vh;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-width: .1em;
    color: #fff;
    text-align: center;
    
}
#om-oss:hover, #mainpage:hover, #tilbakemelding:hover, #min-side:hover, #timebestilling:hover{
    background-color: #37618c;
    border-radius: 5px;
}
#om-oss:active, #mainpage:active, #tilbakemelding:active, #min-side:active, #timebestilling:active{
    background-color: #4880b8;
}

#headerRow * text {
    height: 5vh;
    font-size: 1em;
    color: 000000;

}



#headerRow a:link, a:hover, a:visited {
    text-decoration: none;
    color: ffffff;
}

.hundredpercent{
    height: 100%;
    width: 100%;
}
/*------------------------------------------------------------------------
css for about page
-----------------------------------------------------------------------*/

.main-container {
    width: 100%;
    
} /* main container */

.sub-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;

} /* sub container */

.Types-heading {
    padding: 10px 0;
    padding-top: 50px;
    color: #4880b8;
    text-transform: uppercase;
    letter-spacing: 1.5px;

} /* studentklinkken on top */


.border1 {
    border-bottom: 2px solid grey;
    width: 300px;
    margin:10px auto;
 
}
/* border 1 the first line */

.border2 {
    border-bottom: 2px solid grey;
    width: 800px;
    margin:10px auto;
    
}
/* border 2 the second line */

.Types-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Type-box {
    max-width: 20%;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.type-name {
    color: #0172ea;
    padding: 20px 0;
    text-transform: uppercase;
}

.type-desc {
    text-align: justify;
    font-weight: lighter;
    line-height: 25px;
    color: #141010;
} 

.col * h2, h1, p{
    text-align: center;
}
/* Lorem text */

@media only screen and (max-width: 980px) {
    .Types-box {
        max-width: 45%;
    }
    .border2 {
        width: 600px;
    }
    }

    @media only screen and (max-width: 660px) {
        .Service-box {
            max-width: 100%;
        }
        .border2 {
            width: 400px;
        }
        }
    
        /* double media if the width of the browser changes it will behave as responsive page */

/*------------------------------------------------------------------------
end of css for about page
-----------------------------------------------------------------------*/
button{
    width: 100%;
}
.leftText{
    text-align: left;
}
.midtText{
    text-align: center;
}


#bilde-placeholder{
    width: 100%;
    height: 40vh;
    background-color: #4880b8;
}

#filler{
    height: 25px;
    width: 100%;
}

.linkButton{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    background-color: white;
    border-bottom: 2px solid #4880b8;
  }
  /* select button */
  
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #4880b8;
  }
  /* the whole input type text */
  
  #tilbakemelding-boks{
    width:100%;
    padding: 0;
    margin: auto;
    line-break: auto;
}

.fill{
    background-color: #858585;
    color: #fff;
    font-weight: bold; 
    border: solid #4880b8 2px;
}

.roundedBox{
    padding: 1vh;
    border-radius: 1vh;
    background-color: #fff;
    color: black;
    font-weight: bold; 
    border-right: solid #858585 2px;
    border-bottom: solid #858585 2px;
}