
#headerRow{
    background-color: #4880b8;
    text-align: center;
}
#om-oss, #mainpage, #tilbakemelding, #min-side, #timebestilling{
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-width: .1em;
    border-bottom: .1em solid #4880b8;
}
h1 {
    font-size: 1em;
    margin: auto;
    top: 12px;
    left: 0;
    bottom: 0;
    right: 0;
}



