* {
    position: relative;
}

body {
    height: 100vh;
    background-color: #ffffff;
}

.container{
    height: 100vh;
}

#listContainer {
    height: 50vh;
    background-color: #c5c5c5;
}

#infoContainer {
    height: 50vh;
    background-color: #c5c5c5;
}
