* {
    position: relative;
}

body {
    height: 95vh;
    width: 95vw;
    background-color: #ffffff;
}

#loginHolder {
    width: 30vw;
    height: 25vh;
    top: 35%;
    left: 35%;
    background-color: #c5c5c5;
    max-height: 175px;
}

#textHolder {
    left: 25%;
    top: 10%;
}

#textHolder * {
    display: grid;
    margin: 0%;
}