.col{
    height: 5em;
    background-color: gray;
    border: solid;
    border-width: 0.1em;
    border-color: white; 

}
#dagnavn{
    height: 2em;
    text-align: center;
}
#bestiltTime{
    height: 10em;
    background-color: lightgray;
    border: solid;
    border-color: darkgray;
}
#spacer{
    height: 1em;
}
#day1, #day2, #day33, #day34{
    background-color: #444444;
}
#endre-avbestill{
    bottom: 0px; 
    
}
#endre-avbestill *:not(#exclude){
    background-color: gray;
    border: solid;
    border-color: lightgoldenrodyellow;
    border-width: 0.1em;
}
