<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>kunde info</title>
    <link rel="stylesheet" type="text/css" href="../CSS/kundeInfo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://l.facebook.com/l.php?u=https%3A%2F%2Fcdnjs.cloudflare.com%2Fajax%2Flibs%2Ftwitter-bootstrap%2F4.3.1%2Fcss%2Fbootstrap-grid.css%3Ffbclid%3DIwAR2BTEJ9l-tRHljd8bdrUrUZqi62zp_-UWXZZ5mKYRqX8t4W6hCUTjObPWs&h=AT2PiDkZgc0d2bzhMV9DJvqhM3jFtiwQ8Nfu-eDkbrHyIiQkzMJCPWReTQ-xvxc1LahCQY48qYF8QlKjxZM2KTO2iexmos1WIackAzp4UPwJNPSh1SHfa3QLTE2LPoJSX7Q"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div class="container d-flex justify-content-around align-items-center">
        <div id="listContainer" class="col-8 align-self-center  ">
            <div id="app" class="col-6">
                <select v-model="selected">
                    <option v-for="kunde in kunder" v-bind:value="kunde">
                        {{ kunde.fornavn }} {{ kunde.etternavn }}
                    </option>
                </select>
                <span> <br> Navn : {{ selected.fornavn }} {{ selected.etternavn}}
                    <br> epost : {{ selected.epost }}
                    <br> mobil : {{ selected.mobil }}
                </span>
                <br><br>
                <span>spesifikk info om kunden:</span>
                <br>
                <div id="customerComment">
                    <form v-on:submit.prevent="addComment">
                        <label for="nyCommet"></label>
                        <input v-model="newComment" id="nyCommet" placeholder="ny kommentar">
                        <button>Add</button>
                    </form>
                    <ul>
                        <li v-for="(kunde.comment, kunde.comment.index) in selected" v-bind:key="kunde.comment.id"
                            v-bind:title="kunde.comment.title" v-on:remove="selected.comment.splice(index, 1)"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../JS/kundeInfo.js"></script>
</body>

</html>