<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>kunde info</title>
    <link rel="stylesheet" type="text/css" href="../CSS/kundeInfo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div class="container d-flex justify-content-around align-items-center">
        <div id="listContainer" class="col-8 align-self-center  ">
            <div id="app" class="col-6">
                <select v-model="selected">
                    <option v-for="kunde in kunder" v-bind:value="kunde">
                        {{ kunde.fornavn }} {{ kunde.etternavn }}
                    </option>
                </select>
                <span> <br> Navn : {{ selected.fornavn }} {{ selected.etternavn}}
                    <br> epost : {{ selected.epost }}
                    <br> mobil : {{ selected.mobil }}
                </span>
                <br><br>
                <span>spesifikk info om kunden:</span>
                <ul>
                    <li v-for="value in selected.comment"> {{ value }} </li>
                </ul>
                <br>
                <!-- <textarea v-model="message" placeholder="om kunden"></textarea> -->
            </div>
        </div>
    </div>
    <script src="../JS/kundeInfo.js"></script>
</body>

</html>